body {
  background-color: #B5F8FE;
  margin: 0;
}
img {
  border: 0.15rem solid #000000;
}
h1 {
  text-align: center;
  color: #1B998B;
  margin-top: 0;
  font-size: 3rem;
  font-family: 'Xanh Mono', monospace;
}
h2 {
  color: #1B998B;
}
p {
  color: #201335;
}
a {
  border-left: 2rem solid #C04CFD;
  color: #F6828C;
}
